.home-control-style h2 {
  color: white;
  font-size: 24px;
}

.home-control-style p {
  color: white;
  white-space: pre-wrap;
  text-align: center;
}

.find-account-input {
  text-align: center;
  font-size: 24px;
}

@media only screen and (max-width: 991px){
  .find-account-input{
    width: 80%;
  }

  .find-account-button{
    width: 80%;
  }
}