@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Fontin";
  src: local("Fontin"), url(./fonts/Fontin-Bold.otf) format("truetype");
}

body {
  font-family: Fontin, serif;
}
